html {
  font-size: 16px;
}

body {
  margin: 1rem;
  padding: 0;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 400;
  color: #212529;
  line-height: 1.25;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header"
    "navigation main";
}

.grid-header { grid-area: header; }
.grid-navigation { grid-area: navigation; }
.grid-main { grid-area: main; }

nav {
  border-right: 2px dashed black;
}

main {
  margin: 0 2rem;
  max-width: 720px;
}

h3 {
  margin-top: 0;
  border-bottom: 1px solid black;
}

h4 {
  margin-bottom: 0;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  list-style-position: inside;
}

ol ol, ol ul, ul ul, ul ol {
  margin-bottom: 0;
}

p code {
  background-color: lightgray;
}
